* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

/* header style */

.header {
  background: #fff8f3;
  background-image: url(../images/header_bg.png), url(../images/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right, left;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 70px 250px;
}

.nav-title {
  font-size: 45px;
  font-weight: 800;
}

.primary-color {
  color: #fd6e0a;
}

nav ul {
  display: flex;
  align-items: center;
}

ul li {
  list-style: none;
  margin-left: 50px;
}

.primary-btn {
  color: var(--White-Color, #fff);
  font-size: 20px;
  font-weight: 700;
  border: 0;
  height: 64px;
  padding: 18px 35px;
  border-radius: 5px;
  background: #fd6e0a;
}

/* banner style */

.banner {
  margin: 220px 210px;
  display: flex;
  align-items: center;
}
.banner-subtitle {
  color: var(--Dark-02, #474747);
  font-size: 45px;
  font-weight: 600;
}

.banner-title {
  color: var(--Dark-01, #181818);
  font-size: 85px;
  font-weight: 700;
}

.banner-description {
  width: 585px;
  margin-bottom: 30px;
  color: var(--Dark-03, #757575);
  font-size: 18px;
  font-weight: 400;
}

/* main style */

main {
  max-width: 1140px;
  margin: 0 auto;
}

.about {
  width: 827px;
  height: 288px;
  margin-left: 15px;
  padding: 110px 130px;
  text-align: center;
}

.section-title {
  font-weight: 700px;
  font-size: 35px;
  margin-bottom: 30px;
  text-align: center;
}

.section-description {
  font-size: 18px;
  margin-bottom: 30px;
}

.about-info-container {
  display: flex;
  justify-content: space-around;
}

.info-title {
  font-size: 17px;
  font-weight: bold;
}
.service {
  width: 827px;
  height: 288px;
  margin-left: 200px;
  padding: 130px 150px;
  text-align: center;
}

/* Technology section styles */
.technologies {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

/* Resume section style */
.resume-title {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
}

.resume-container {
  display: flex;
  margin-bottom: 50px;
}

.education {
  margin-right: 15px;
}
.item-name {
  margin: 10px 0px;
}

.item-title {
  margin-top: 10px;
  margin-bottom: 5px;
}

.item-subtitle {
  margin-bottom: 15px;
}

.item-description {
  margin-bottom: 20px;
}

.break-line {
  margin-bottom: 30px;
}

#resu-btn {
  margin-top: 50px;
  text-align: center;
}

/* Contact styles */
.contact {
  display: flex;
  margin-top: 70px;
  justify-content: space-evenly;
  background-color: #fff8f3;
  padding: 10px;
}

.contact-info {
  margin-right: 15px;
}

.section-description {
  margin-bottom: 20px;
}

.contact-info a {
  text-decoration: none;
  padding: 5px;
}

.contact input,
textarea {
  gap: 20px;
}
